{{yield}}
<article class="listing">
<a {{action 'toggleImageSize'}} class="image {{if isWide "wide"}}">
  <img src="{{car.image}}" alt="Click to see larger Image">
  <small>View Larger</small>
  </a>
  <h3>{{car.title}}</h3>
  <div class="detail owner">
    <span>Owner:</span> {{car.owner}}
  </div>
  <div class="detail type">
    <span>Type:</span> {{car.category}}
  </div>
  <div class="detail location">
    <span>Location:</span> {{car.city}}
  </div>
  <div class="detail bedrooms">
    <span>Class:</span> {{car.bedrooms}}
  </div>
  {{#link-to "buy" class="button"}}
    Buy
  {{/link-to}}
</article>